# MacOS
__MACOSX
.DS_Store
*.pem

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# VSCode
/.vscode

/.idea
/node_modules
**/react-native-webgpu-*.tgz
/.test*
